h2 {
  padding-left: 5%;
  color: #007bff;
}
.input-group {
  width: 170%;
}
button {
  color: #fff;
  background-color: #007bff !important;
  border-color: #007bff !important;
}
.main-form {
  background-color: #eef5fd;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  padding-bottom: 5%;
  border-radius: 25px;
}
a {
  float: right;
}
